html {
  height: 100%;
  min-width: 320px;
  /*background: #f4f4f4 url(../images/bg.jpg) repeat top left;*/
  /*background: #f4f4f4 url(../images/family2.jpeg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
}

body {
  height: 100%;
  /*background: #f4f4f4 url(../images/bg.jpg) repeat top left;*/
  background: #f4f4f4 url(../images/family2.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: transparent;
}

img {
  width: 25px;
  height: 25px;
  margin: 3px;
}

.left {
  float: left;
}

.clear {
  clear: both;
}

.jumbotron {
  background: rgb(200, 54, 54);
  /* This is for ie8 and below */
  background: rgba(255, 255, 255, 0.5);
}

.page-registration {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 100%;
}

.page-members {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn{
  margin-right: 5px;
}
.chooseMember{
  margin: 0 5px 5px;
}

.firstPagejumbo {
  display: none;
}

/*.completeTodo {
	border: 2px red solid;
}*/
.panel-default>.panel-heading{
  line-height: 32px;
}

.footer {
  background-color: #666;
  color: #ccc;
  position: fixed;
  width: 100%;
  bottom: 0;
  line-height: 40px;
  border-top: 1px solid #ccc;
  text-align: center;
  font-size: 14px
}

.footer p {
  margin: 0;
}

.completedList {
  opacity: 0.5;
}

.link-icon{
  cursor: pointer;
}

#map {
  height: 400px;
  width: 100%;
}

#page-main{
  padding-bottom: 40px;
}

.note-title {
  text-align: center;
  line-height: 0.25;
}

.creator {
  font-size: 10px;
}

